@import '_root-styles';


.__container {
    width: 98vw;
    margin: 0 auto;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1rem;

        img {
            height: 72px;
            width: 72px;
        }

        .__navigation-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.5rem;

            .__account-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .8rem;

                .material-symbols-outlined {
                    font-variation-settings:
                    'FILL' 0,
                    'wght' 100,
                    'GRAD' 0,
                    'opsz' 24
                }
                
                span {
                    font-size: 1.15rem;
                    padding-top: 8px;
                }
            }
            
            a {
                font-size: 1rem;
                color: var(--color-menu);


            }

            span {
                font-size: .85rem;
            }
        }
    }

    header {
        height: 1062px;

        .__hero-left {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            width: 44%;
            height: 1062px;
            padding-left: 6rem;

            h1 {
                margin: 9.5rem 0 2rem 0;
                svg {
                    width: 100%;
                }
                  
                svg text {
                    font-family: 'DancingScript';
                    font-size: 6.2rem;
                    fill: var(--color-background);
                    stroke-width: 8px;
                    paint-order: stroke;
                    stroke-width: 8;
                }
            }

            p {
                color: var(--color-text);
                font-size: 1.32rem;
                text-wrap: wrap;
                line-height: 1.8;
                margin-bottom: 5rem;
            }

            .__hero-btns {
                display: flex;
                gap: 2.4rem;

                button {
                    color: var(--color-button-text);
                    font-family: 'Leiko';
                    font-size: 1.4rem;
                    padding: .4rem 1.8rem;
                    border-radius: 49px;
                    border: 2px solid transparent;
                    cursor: pointer;

                    &:first-child {
                        background: linear-gradient(#66564c, #66564c) padding-box, linear-gradient(.65turn, #E0A872 0%, #F8E4BE 47%, #FFF3E0 53%, #E0A872 100%) border-box;
                    }
                    &:last-child {
                        background: linear-gradient(#392b2a, #392b2a) padding-box, linear-gradient(.65turn, #E0A872 0%, #F8E4BE 47%, #FFF3E0 53%, #E0A872 100%) border-box;
                    }
                }
            }

            .__card {
                position: absolute;
                height: 247px;
                width: 366px;
                background: linear-gradient(#442420, #472520);
                bottom: 0;
                border-radius: 40px 40px 0 0;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 50%;
                    border-radius: 40px;
                    padding: 4px;
                    background: linear-gradient(120deg, rgba(144, 96, 77, 1), rgba(144, 96, 77, 1), transparent, transparent, transparent, transparent);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                }

                .__card-bg {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: end;
                    gap: 1.8rem;
                    height: 100%;
                    width: 100%;
                    background-image: url('/app/images/hero/card-img.png');
                    background-repeat: no-repeat;
                    background-position: -20% 90%;
                    background-size: 264px 264px;
                    z-index: 1;

                    h5 {
                        background: linear-gradient(.65turn, #E0A872 0%, #F8E4BE 47%, #FFF3E0 53%, #E0A872 80%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: 'DancingScript';
                        padding-right: 20px;
                        z-index: 2;
                    }

                    .__card-blur {
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 70%;
                            height: 30%;
                            margin-bottom: 30px;
                            border-radius: 80px;
                            background: rgba(248, 228, 190, .05);
                            filter: blur(15px);
                            z-index: -1;
                        }
                    }

                    button {
                        display: flex;
                        gap: .6rem;
                        justify-content: center;
                        align-items: center;
                        padding: .3rem .6rem;
                        margin-right: 1.4rem;
                        border-radius: 49px;
                        border: 1px solid transparent;
                        background: linear-gradient(#442420, #442420) padding-box, linear-gradient(.65turn, #E0A872 0%, #F8E4BE 47%, #FFF3E0 53%, #E0A872 100%) border-box;
                        margin-bottom: 35px;
                        font-family: 'Leiko';
                        font-size: .8rem;
                        color: var(--color-button-text);
                        z-index: 1;

                        .material-symbols-outlined {
                            font-variation-settings:
                            'FILL' 0,
                            'wght' 100,
                            'GRAD' 0,
                            'opsz' 24
                        }
                    }
                }
            }
        }

        .__hero-right {
            .__rectangle-bg {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -2;
                background-color: var(--color-background-secondary);
                height: 1060px;
                width: 620px;
            }

            img {
                position: absolute;
                top: 86px;
                right: 0;
                width: 1292px;
                z-index: -1;
            }
        }
    }

    
}